<!DOCTYPE html>
<html>
<div class="container-fluid">
<div class="sol-sm-6">
<div class="text-center">

<h1 class="bg-primary"> Lobster Shack ~ Menu ~
	<div class="bg-info">
	<h3 ><small>
		<% @menus.each do |menu| %>
		<%= menu.meal %>
	</small></h3>
		<% @foods.each do |food| %>
	<h2><strong>
		<%= food.name %>
	</strong></h2>

	<div>
	
	<h3><small>	
		<%= truncate(food.description, :length => 220) %>
	</small></h3>
	</div>
	<h3><small>
		<%= menu.cost %>
		<% end %>
 	</small></h3>
		<% end %>
	</p>


</h1>	
</div>
</div>
</div
